#welcome {
    text-align: center;

}

h1 {
    font-size: xx-large
}

body {
    background-color: rgb(161, 202, 237);
    font-family: Rubik, Arial;
}

form {
    text-align: center;
}

#logo {
    display: block;
    margin: auto;
}

form hr {
    width: 10%;
}